<!-- <div class="row">
    <div class="col">
        <div class="form-group">
            <input
                type="email"
                class="form-control"
                id="minPriceInput"
                placeholder="Minimal price"
            />
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <input
                type="email"
                class="form-control"
                id="minPriceInput"
                placeholder="Maximum price"
            />
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <input
                type="email"
                class="form-control"
                id="minPriceInput"
                placeholder="Minimum area"
            />
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <input
                type="email"
                class="form-control"
                id="minPriceInput"
                placeholder="Maximum area"
            />
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <input
                type="email"
                class="form-control"
                id="minPriceInput"
                placeholder="Minimum price m2"
            />
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <input
                type="email"
                class="form-control"
                id="minPriceInput"
                placeholder="Maximum price m2"
            />
        </div>
    </div>
</div> -->
